/* Abdullah Salman, KW107, 8560 */

Body         { background-color: #6D040A;}
table        { margin-left:auto;
               margin-right:auto;
               border-collapse: collapse;}
h1,h2,h3,p   { font-family: Domino; "Domino Regular"; Microsoft Sans Serif;
               color:#ffff00;}